* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #2073d4;
}

body {
    font-size: 1.6rem;
    color: #575f66;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeSpeed   ;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding-bottom: 10px;
}

.heading-lv2 {
    font-weight: 700;
    font-size: 40px;
    color: gray;
}

.btn {
    display: inline-block;
    min-width: 170px;
    text-align: center;
    font-weight: 500;
    padding: 16px 0;
    border-radius: 16px;
    color: #fff;
    background: #0c3b71;
    border: 3px solid #0c3b71;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    border-color: #0c3b71;
}

.control {
    color: #575f66;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

button {
    cursor: pointer;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    background: #da3a27;
    z-index: 2;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
}


.logo__branch {
    position: relative;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.nav__list {
    display: flex;
}
.nav {
    margin-left: 50px;
}

.nav__item {
    position: relative;
    padding: 10px 0;
}

.nav__link {
    display: inline-block;
    font-size: 1.4rem;
    position: relative;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    transition: .1s;    
}

.nav__link::before {
    content: attr(title);
    font-weight: 700;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    

}

.nav__link:hover {
  font-weight: 700;  
}

.nav__item--action {
    margin-right: 15px;
}

.nav__link--action::after {
    position: absolute;
    right: 0;
    top: 15px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #c9d2da;
    border-left: 2px solid #c9d2da;
    rotate: -135deg;
}

.nav__courses {
    /* Vì chiếm diện tích nên không thể dùng 2 thuộc tính này */
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
    transition: .3s;
}

.nav__courses:hover + .nav__link--action {
    font-weight: 700;
}

.nav__item--action:hover .nav__courses{
    /* opacity: 1;
    visibility: visible; */
    display: block;
}


.nav-courses__list {
    display: flex;
    flex-direction: column;
    width: 275px;
    background: #fff;
    border-radius: 6px;
    transition: .3s;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.nav-courses__item {
    transition: .3s;
}
.nav-courses__item:hover {
    background: #c9d2da;
}

.nav-courses__item:first-child {
   border-radius: 6px 6px 0 0;
}
.nav-courses__item:last-child {
   border-radius: 0 0 6px 6px;
}
.nav-courses__link {
    display: block;
    color: #555555;
    /* font-weight: 500; */
    padding: 12px;
}

.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.header__action .name{
    font-size: 16px;
    color: #B6C0CC;
}
.header-action__login,
.header-action__cart {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.header-action__login:hover,
.header-action__cart:hover {
    color: #fff;
    background: #2e80ce;
    border-color: transparent;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    background: #f6f6f6;
    margin-left: 16px;
    padding: 8px 16px;
    border-radius: 999px;
}

.header-search__input {
    padding: 8px 0;
    width: 105px;
    height: 12px;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: none;
    outline: none;
}

.search__btn {
    padding-top: 4px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Breadcrumb */
.page-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 365px;
    background-image: url(../img/background-site.jpg);
    background-size: cover;
    background-position: center 35%;
}

.page-title-area .heading-lv2 {
    color: #fff;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.breadcrumb__item {
    position: relative;
}

.breadcrumb__item:first-child::before {
    position: absolute;
    right: -16px;
    top: 3px;
    content: "";
    display: inline-block;
    width: 3px;
    height: 18px;
    background: #fff;
    rotate: 35deg;
}

.breadcrumb__link {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    transition: .3s;
}

.breadcrumb__link:hover {
    color: var(--primary-color);
}

/* About */

.about {
    background: #f8f8f8;
    padding: 100px 0;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__wrap-img {
    width: 51.2%;
    overflow: hidden;
}

.about__img {
    width: 600px;
    height: 400px;

}

.about__content {
    width: 40%;
}

.about__heading {
    font-size: 4.0rem;
}

.about__desc {
    margin-top: 20px;
}

/* Lectures */

.lecturers {
    background: #f8f8f8;
    padding: 50px 0;
}

.lecturers__inner {
    position: relative;
}

.lecturers__inner::before {
    position: absolute;
    right: -25px;
    top: 297px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-top: 3px solid #555555;
    border-left: 3px solid #555555;
    rotate: 135deg;
    z-index: 2;
}

.lecturers__inner::after {
    position: absolute;
    left: -50px;
    top: 297px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-top: 3px solid #555555;
    border-left: 3px solid #555555;
    rotate: -45deg;
    z-index: 2;
}

.lecturers__heading {
    font-size: 4.0rem;
}

.lecturers__list {
    position: relative;
    display: flex;
    column-gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}



.lecturer__item {
    width: calc(24% - 10px);
    flex-shrink: 0;
}

 
.lecturer-item__wrap-avatar {
    width: 100%;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
 
.lecturer-item__avatar {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position:  center;
    border-radius: 12px 12px 0 0;
    transition: .3s;
}

.lecturer__item:hover .lecturer-item__avatar {
    transform: scale(1.1);
}

.lecturer-item__infor {
    background: #fff;
    text-align: center;
    padding: 16px 8px 30px;
    border-radius: 0 0 12px 12px;
}

.lecturer__name {
    font-size: 2.0rem;
    color: #000;
    font-weight: 600;
}

.lecturer__job {
    font-size: 1.4rem;
    margin-top: 12px;
}

.social {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    margin-top: 20px;
}

.social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    border-radius: 3px; 
    transition: .3s;
}

.social__icon i {
    color: #fff;
    transition: .3s;
}

.social__icon:hover {
    background: #0c3b71;
}



/* Feedback */

.feedback {
    background: #f8f8f8;
    padding: 50px 0;
}

.feedback__heading {
    position: relative;
}

.feedback__heading::after {
    position: absolute;
    bottom: -22px;
    left: 0;
    
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background: #000;
}

.feedback__list {
    display: grid;
    row-gap: 70px;
    column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 100px;
}

.feedback__item {
    background: #fff;
    box-shadow: 0px 30px 40px rgba(3, 18, 32, 0.06);
    padding: 40px;
    border-radius: 8px;
    transition: 0.3s;
}

.feedback__item:hover {
    transform: translateY(-50px);
}

.feedback__item:hover .feedback-item__open-quotes {
    rotate: 180deg;
}

.feedback-item__open-quotes {
    text-align: center;
    transition: 0.3s;
}

.feedback-item__content {
    font-style: italic;
    text-align: center;
    color: #575f66;
    line-height: 1.7;
    margin-top: 30px;
}

.feedbacl-item__avatar {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 30px auto 0 auto;
}

.feedback-item__infor-name {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
}

.feedback-item__infor-job {
    text-align: center;
    color: #555555;
    font-weight: 400;
}

.feedback__dots-group {
    text-align: center;
    margin-top: 30px;
}

.feedback__dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
}

.feedback__dot--action {
    background: orange;
}


/* Footer */

.footer {
    color: #c9d2da;
    padding: 100px 0 30px;
    background: #2d3021;
}

.footer__row {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    column-gap: 80px;
}

.footer__desc {
    color: #fff;
    margin-top: 30px;
}

.footer__label {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.footer__social {
    margin-top: 20px;
}

.footer-social__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .3s;
}

.footer-social__icon + .footer-social__icon  {
    margin-left: 10px;
}

.footer-social__icon:hover {
    background: #0c3b71;
    border-color: transparent;
}

.footer-social__icon i {
    color: #fff;
}

.footer-column__heading {
    font-size: 2.0rem;
    font-weight: 500;
    color: #fff
}

.footer__list {
    margin-top: 30px;
}

.footer-item__link {
    white-space: nowrap;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s;
}

.footer-item__link:hover {
    text-decoration: underline;
}

.footer__item + .footer__item{
    margin-top: 16px;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 10px;
    margin-top: 30px;
    width: 350px;
    height: 60px;
    background: #fff;
}

.footer__input {
    font-size: 1.8rem;
    color: #000;
    width: 70%;
    padding: 12px 0;
    border: none;
    outline: none;
}

.footer__input::placeholder {
    font-size: 1.6rem;
}

.footer__btn {

    max-width: 85px;
    font-weight: 600;
    color: #fff;
    padding: 16px 12px;
    background: #0c3b71;
    border: none;
    outline: none;
}

.footer__seperate {
    width: 100%;
    height: 2px;
    background: #c9d2da;
    margin-top: 50px;
}

.footer__copyright {
    text-align: center;
    margin-top: 30px;
}
.chuyengia img{
    width: 100%;
    height: auto;
}
.blogs {
    padding: 100px 0;
}

.blogs__title {
    text-align: center;
}

.blogs__heading {
    text-align: center;
}

.blogs__list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 28px;
}

.blogs-item__wrap-img {
    width: 273px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.blogs-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px 12px 0 0;
    transition: .3s;
}

.blogs__item:hover .blogs-item__img {
    transform: scale(1.1);
}

.blogs-item__infor {
    padding: 20px 10px;
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 12px 12px;
}

.blogser-name {
    color: #575f66;
}
