* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #2073d4;
}

body {
    font-size: 1.6rem;
    color: #575f66;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading-lv2 {
    font-weight: 700;
    font-size: 4.5rem;
    color: #000;
}

.btn {
    display: inline-block;
    min-width: 170px;
    text-align: center;
    font-weight: 500;
    padding: 16px 0;
    border-radius: 16px;
    color: #fff;
    background: #0c3b71;
    border: 3px solid #0c3b71;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    border-color: #0c3b71;
}

.control {
    color: #575f66;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

button {
    cursor: pointer;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    background: #da3a27;
    z-index: 3;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
}

.logo__branch {
    position: relative;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.nav__list {
    display: flex;
}
.nav {
    margin-left: 50px;
}

.nav__item {
    position: relative;
    padding: 10px 0;
}

.nav__link {
    display: inline-block;
    font-size: 1.4rem;
    position: relative;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    transition: 0.1s;
}

.nav__link::before {
    content: attr(title);
    font-weight: 700;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__link:hover {
    font-weight: 700;
}

.nav__item--action {
    margin-right: 15px;
}

.nav__link--action::after {
    position: absolute;
    right: 0;
    top: 15px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #c9d2da;
    border-left: 2px solid #c9d2da;
    rotate: -135deg;
}

.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.header__action .name{
    font-size: 16px;
    color: #B6C0CC;
}
.header-action__login,
.header-action__cart {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.header-action__login:hover,
.header-action__cart:hover {
    color: #fff;
    background: #2e80ce;
    border-color: transparent;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    background: #f6f6f6;
    margin-left: 16px;
    padding: 8px 16px;
    border-radius: 999px;
}

.header-search__input {
    padding: 8px 0;
    width: 105px;
    height: 12px;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: none;
    outline: none;
}

.search__btn {
    padding-top: 4px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav__courses {
    /* Vì chiếm diện tích nên không thể dùng 2 thuộc tính này */
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
    transition: .3s;
}

.nav__courses:hover + .nav__link--action {
    font-weight: 700;
}

.nav__item--action:hover .nav__courses{
    /* opacity: 1;
    visibility: visible; */
    display: block;
}


.nav-courses__list {
    display: flex;
    flex-direction: column;
    width: 275px;
    background: #fff;
    border-radius: 6px;
    transition: .3s;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.nav-courses__item {
    transition: .3s;
}
.nav-courses__item:hover {
    background: #c9d2da;
}

.nav-courses__item:first-child {
   border-radius: 6px 6px 0 0;
}
.nav-courses__item:last-child {
   border-radius: 0 0 6px 6px;
}
.nav-courses__link {
    display: block;
    color: #555555;
    /* font-weight: 500; */
    padding: 12px;
}

/* Breadcrumb */

.page-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 365px;
    background-image: url(../img/background-site.jpg);
    background-size: cover;
    background-position: center 35%;
}

.page-title-area .heading-lv2 {
    color: #fff;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.breadcrumb__item {
    position: relative;
}

.breadcrumb__item:first-child::before {
    position: absolute;
    right: -16px;
    top: 3px;
    content: "";
    display: inline-block;
    width: 3px;
    height: 18px;
    background: #fff;
    rotate: 35deg;
}

.breadcrumb__link {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    transition: 0.3s;
}

.breadcrumb__link:hover {
    color: var(--primary-color);
}

/* Courses Area*/

.courses-area {
    padding: 150px 0;
    background: #f8f8f8;
}


.courses__innner {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 3fr 1fr;
}


.courses__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px 30px;
}


.courses__price {
    padding: 8px 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color);
    z-index: 1;
    border-top-right-radius: 12px;
}

.courses-item__wrap-img {
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}

.courses__item:hover .courses-item__img {
    transform: scale(1.1);
}

.courses-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    border-radius: 12px 12px 0px 0px;
}

.courses__item:nth-child(2) .courses-item__img {
    object-position: 10% 20%;
}

.courses__infor {
    padding: 20px;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 12px 12px;
}

.courses-item__star-group {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.courses-item__label {
    color: #363636;
    font-size: 1.4rem;
    font-weight: 500;
}
.courses-item__heading {
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin-top: 16px;
}

.courses-item__desc {
    font-size: 1.5rem;
    color: #575f66;
    margin-top: 12px;
}

.courses-item__seperate {
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    margin-top: 16px;
}

.courses-item__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.course-item__stats {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.course-item__stats i {
    color: var(--primary-color);
}

.courses__search-form {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    background: #fff;
    border-radius: 10px;
}

.courses-search__input {
    font-size: 1.6rem;
    border: none;
    outline: none;
    background: #fff;
}
.courses__search-btn {
    padding: 10px 16px;
    background: transparent;
    border: none;
    outline: none;
}

.courses__categories,
.courses__price-filter,
.courses__skill-level {
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
}

.courses-sidebar__heading {
    font-size: 2rem;
    font-weight: 600;
}

.courses-sidebar__checkbox {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.courses-sidebar__label {
    font-size: 1.6rem;
    font-weight: 500;
}

.courses-sidebar__input {
    width: 16px;
    height: 16px;
}

.courses__control {
    margin-top: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px
}

.courses-control__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #000;
    border: 1px solid #c9d2da;
    border-radius: 6px;
    transition: .3s;
}

.courses-control__item:hover {
    background: var(--primary-color);
    color: #fff;
}

/* Footer */

.footer {
    color: #c9d2da;
    margin-top: 100px;
    padding: 100px 0 30px;
    background: #2d3021;
}

.footer__row {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    column-gap: 80px;
}

.footer__desc {
    color: #fff;
    margin-top: 30px;
}

.footer__label {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.footer__social {
    margin-top: 20px;
}

.footer-social__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .3s;
}

.footer-social__icon + .footer-social__icon  {
    margin-left: 10px;
}

.footer-social__icon:hover {
    background: #0c3b71;
    border-color: transparent;
}

.footer-social__icon i {
    color: #fff;
}

.footer-column__heading {
    font-size: 2.0rem;
    font-weight: 500;
    color: #fff
}

.footer__list {
    margin-top: 30px;
}

.footer-item__link {
    white-space: nowrap;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s;
}

.footer-item__link:hover {
    text-decoration: underline;
}

.footer__item + .footer__item{
    margin-top: 16px;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 10px;
    margin-top: 30px;
    width: 350px;
    height: 60px;
    background: #fff;
}

.footer__input {
    font-size: 1.8rem;
    color: #000;
    width: 70%;
    padding: 12px 0;
    border: none;
    outline: none;
}

.footer__input::placeholder {
    font-size: 1.6rem;
}

.footer__btn {

    max-width: 85px;
    font-weight: 600;
    color: #fff;
    padding: 16px 12px;
    background: #0c3b71;
    border: none;
    outline: none;
}

.footer__seperate {
    width: 100%;
    height: 2px;
    background: #c9d2da;
    margin-top: 50px;
}

.footer__copyright {
    text-align: center;
    margin-top: 30px;
}


.container_pro {
    display: flex;
    margin-left: 5px;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative; 
}
.deal { 
    position: relative;
    display: inline-block;
    width:18.5%;
    height: auto;
    background-color: #fff;
    border: 3px solid #ddd;
    padding: 5px;
    margin-left: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: left;
    position: relative;
    margin-bottom: 5px;

}

.deal img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.deal p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.deal .deal__price {
    font-size: 18px;
    color: #e44d26;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.deal button {
    background-color: #da3a27;
    color: #fff;
    padding: 9px 9px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 6px;
    right: 13px;
}
.deal button:hover {
    background-color: #e65343;
}
.deal .deal__percent{
    width: 15px;
    height: 15px;
    background-color: #da3a27;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    padding: 4px;
    margin-left: 18px;
}
.deal .deal__sale_price ,
.deal .deal__footer{
    color: grey;
    font-size: 15px;
}
.deal .deal__footer{
    padding-top: 5px;
}
.deal p.additional-info {
    font-size: 14px;
    color: #666;
}
.deal .deal__heading{
    color: #333;
}
.deal .deal__heading:hover{
        color:#e44d26;
}

.fa-caret-down , .fa-tag{
    color: #da3a27;
}
 .tinhtrang_hethang{
    width: 5%;
    height: auto;
    background-color: #da3a27;
    color: #fff;
    padding: 3px 6px 10px 6px;
    border-radius: 5px 5px 0 0;
}
 .tinhtrang_conhang{
    width: 5%;
    height: auto;
    background-color: #18b615;
    color: #fff;
    padding: 3px 6px 10px 6px;
    border-radius: 5px 5px 0 0;
}
 .tinhtrang_saphethang{
    width: 5%;
    height: auto;
    background-color: #fa6c40;
    color: #fff;
    padding: 3px 6px 10px 6px;
    border-radius: 5px 5px 0 0;
}
.container_pro{
    margin-left: 7%;
}